<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode"/>
    </handlers>

    <rewrite>
      <rules>

        <!-- Serve index.html for root -->
        <rule name="ServeIndexHtml" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="index.html" />
        </rule>

        <!-- Serve all static files normally -->
        <rule name="StaticFiles">
          <match url="(.*\.(html|css|js|png|jpg|json))$" />
          <action type="None" />
        </rule>

        <!-- Everything else goes to Node -->
        <rule name="NodeJS">
          <match url=".*" />
          <action type="Rewrite" url="index.js" />
        </rule>

      </rules>
    </rewrite>

    <httpErrors existingResponse="PassThrough"/>
    <webSocket enabled="false" />

  </system.webServer>
</configuration>
