<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Use iisnode to run your Node server -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>

    <!-- Rewrite all requests to server.js -->
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url=".*"/>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>

    <!-- Enable Node logging -->
    <iisnode loggingEnabled="true" devErrorsEnabled="true"/>

  </system.webServer>
</configuration>
